body {
  	font-family:Arial;
	font-size:14px;
  	color:#545165;
  	line-height:18px;
  	background-color:white;
	margin: 0 auto;
  	padding: 0;
}
body a:link,a:visited
{
  color:#545165;
}

/*set up wrappers and containers. Idea here is to first define the mobile version of the site and then redefine for desktop. Reason is it seemed easier to code that way*/
.site_wrapper
{
	max-width: 1100px;
}

.main_wrapper
{	width: 100%;  
}
.header-space
{
	background-color:#8782a2;
  	min-height: 80px;
	width: 100%;  
	position: fixed;
  	z-index: 9999;
}
.name-area
{
	float:left;
	width: 400px;
}
.nav-area
{
	float:right;	
}
.main_wrapper
{	
	width: 100%;
	padding-top: 100px;
}
.sidebar-left
{
	padding-top: 100px;
  	background-color: #f1f1f1;
	width: 100%;
	float: left;
}

.sidebar-right
{
	padding-top: 100px;	
	background-color: blue;
	width: 100%;
	float: left;
}
.content-container
{
  	padding-top: 100px;
  	background-color: yellow;
	width: 100%;
	float: left;
}
.sidebar-content-right
{
	width: 100%;
	float: left;
}
.footer-space
{
	clear: both;
	position: relative;
	background-color:green;
  	min-height: 60px;
	width: 100%;  
}

.footer-main
{
   width: 100%;
   float: left;
}
.footer-left
{
    width: 300px;
    float: left;
    display: block;
    margin: 10;
    padding: 0;
}
.footer-right
{
    float: right;
    margin: 10;
    padding: 0;
}
.footer-bottom
{
    clear: both;
    width: 100%;
    margin: 3px;
    text-align: center;
    font-size: 8pt;
    height:20px;
}


/*Define the elements required for the nav menu*/ 
.nav
{
display: inline-block;
margin-left:auto;
padding: 10px 25px 10px 10px;
height:45px;
}
.nav ul
{
list-style-type:none;
margin:0;
padding:0;
}
.nav li
{
display: inline-block;
}
.nav a:link
{
height:15px;
display:inline-block;
font-size:15px;
font-weight:bold;
color:#FFFFFF;
background-color:#8782a2;
text-align:center;
text-decoration:none;
text-transform:lowercase;
padding-bottom:10px;
padding-top:5px;
padding-left:10px;
padding-right:10px;
}
.nav a:hover
{
color: #f1f1f1;
}



/*define social media and contact buttons*/
.button-github {
    background: url(./icons/github.svg) no-repeat center, blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-github:hover{
    opacity: 0.7;
}
.button-ads {
    background: url(./icons/ads_logo.svg) no-repeat center,blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-ads:hover{
    opacity: 0.7;
}


.button-mail {
    background: url(./icons/envelope.svg) no-repeat center,blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-mail:hover{
    opacity: 0.7;
}

.button-github {
    background: url(./icons/github_inv.svg) no-repeat center,blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-github:hover{
    opacity: 0.7;
}


.button-linkedin {
    background: url(./icons/linkedin_inv.svg) no-repeat center,blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-linkedin:hover{
    opacity: 0.7;
}


.button-facebook {
    background: url(./icons/facebook_inv.svg) no-repeat center,blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-facebook:hover{
    opacity: 0.7;
}

.button-twitter {
    background: url(./icons/twitter.svg) no-repeat center,blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.button-twitter:hover{
    opacity: 0.7;
}
	


/*Go to desktop version of site when desktop size*/
@media only screen and (min-width: 900px) {
.sidebar-content-right
{
	width: 75%;
	float: right;
}

    
.content-container, .sidebar-left, .sidebar-right {
		position: relative;
	}
	
	.sidebar-right {
	    width: 33.33333%;
	    float: right;
	}
	
	.sidebar-left {
	    width: 25%;
	    float: left;
	}
	
	.content-container {
	    width: 66.666667%;
	}
}
