body {
  font-family:Arial;
  font-size:14px;
  color:#545165;
  line-height:18px;
  background-color:white;
}
body a:link,a:visited
{
  color:#545165;
}
.site_wrapper
{
	max-width: 1100px;
	margin: 0 auto;
}
.header-space
{
	background-color:#8782a2;
  	min-height: 80px;
	width: 100%;  
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 9999;
}
.name-area
{
	float:left;
	width: 400px;
}
.nav-area
{
	float:right;	
}
.main_wrapper
{	
	width: 100%;
	padding-top: 100px;
}
.sidebar-left
{
	padding-top: 100px;
  	margin: 0;
  	background-color: #f1f1f1;
	width: 100%;
	float: left;
}

.sidebar-right
{
	margin: 0;
	padding-top: 100px;	
	background-color: blue;
	width: 100%;
	float: left;
}
.content-container
{
  	margin: 0;
  	padding-top: 100px;
  	background-color: yellow;
	width: 100%;
	float: left;
}
.sidebar-content-right
{
	width: 100%;
	float: left;
}
.footer-space
{
	background-color:#8782a2;
  	min-height: 80px;
	width: 100%;  
	top: 0;
  	left: 0;
}

.nav
{
display: inline-block;
margin-left:auto;
padding: 10px 25px 10px 10px;
height:45px;
}
.nav ul
{
list-style-type:none;
margin:0;
padding:0;
}
.nav li
{
display: inline-block;
}
.nav a:link
{
height:15px;
display:inline-block;
font-size:15px;
font-weight:bold;
color:#FFFFFF;
background-color:#8782a2;
text-align:center;
text-decoration:none;
text-transform:lowercase;
padding-bottom:10px;
padding-top:5px;
padding-left:10px;
padding-right:10px;
}
.nav a:hover
{
color: #f1f1f1;
}
/*Go to desktop version of site when desktop size*/
@media only screen and (min-width: 900px) {
.sidebar-content-right
{
	width: 75%;
	float: right;
}

    
.content-container, .sidebar-left, .sidebar-right {
		position: relative;
	}
	
	.sidebar-right {
	    width: 33.33333%;
	    float: right;
	}
	
	.sidebar-left {
	    width: 25%;
	    float: left;
	}
	
	.content-container {
	    width: 66.666667%;
	}
}
